<a href="https://colab.research.google.com/github/asheta66/Data-Science/blob/main/Python_Tutorial_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello Alaa")

hello Alaa

In [ ]:
my_name="Alaa"
print("Hello " + my_name)

Hello Alaa

In [ ]:
age=55
print(my_name +" is my name and I am " + str(age) +" years old")

Alaa is my name and I am 55years old

In [ ]:
is_hot = False
is_cold = False

if is_hot:
  print("It is hot day")
  print("Drink plenty of water")
elif is_cold:
  print("It is a clod day")
  print("Wear worm clothes")
else:
  print("It is a lovely day")

print("Enjoy your day")

It is a lobely day
Enjoy your day

In [ ]:
price = 1000000
buyer_credit = True

if buyer_credit:
  Down_Payment = 0.1*price
else:
  Down_Payment = 0.2*price

print(f" The down payment is  ${Down_Payment}")

 The down payment is  $100000.0

In [ ]:
temperature = int(input("Eneter the value of today's temperature"))

if temperature >= 30:
  print(" It is a hot day")
else:
  print(" It is not a hot day")

Eneter the value of today's temperature34
 It is a hot day

In [ ]:
name = "Alaa"

if len(name) < 3:
  print("name is too short")
elif len(name) >3:
  print("name is correct")
  print(f"My name is {name}")

name is correct
My name is Alaa

In [ ]:
secret_no = 9
guess_count = 0
guess_limit = 3

while guess_count < guess_limit:
  guess = int(input("Enter Guest: " ))
  guess_count +=1
  if guess == secret_no:
    print("You won. Guess is correct")
    break
else:
  print("Sorry, your trials are over")

Enter Guest: 1
Enter Guest: 2
Enter Guest: 3
Your trial is over

In [ ]:
prices =[10, 20, 30]
for item in prices:
  print(item)

10
20
30

In [ ]:
prices =["Alaa","Ayaa","Rania"]
for item in prices:
  print(item)

Alaa
Ayaa
Rania

In [ ]:
for item in range(5):
  print(item)

0
1
2
3
4

In [ ]:
for item in range(5, 10):
  print(item)

5
6
7
8
9

In [ ]:
for item in range(5, 10, 2):
  print(item)

5
7
9

In [ ]:
prices =[10, 20, 30]
sum = 0

for item in prices:
  sum +=item

print(f"The sum of all produces is: {sum}")

The sum of all produces is: 60

In [ ]:
names =["Alaa","Ayaa","Rania","Peter","Tim","David"]
print(names)
print(names[3:])
print(names[2:5])

names[0] ="Alan"
print(names)

['Alaa', 'Ayaa', 'Rania', 'Peter', 'Tim', 'David']
['Peter', 'Tim', 'David']
['Rania', 'Peter', 'Tim']
['Alan', 'Ayaa', 'Rania', 'Peter', 'Tim', 'David']

In [ ]:
# Find the max number in a list
# Find the min number in a list

numbers =[3, 6, 2, 8, 4, 10]
max = numbers[0]
min  = numbers[0]

for item in numbers:
  if item > max:
    max = item
  if item < min:
    min = item

print(f"The maximum no is the list is: {max}")
print(f"The minimum no is the list is: {min}")

The maximum no is the list is: 10
The minimum no is the list is: 2

In [ ]:
# Two dimenstional list

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)

for rows in matrix:
  # print(rows)
  for item in rows:
    print(item)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
2
3
4
5
6
7
8
9

In [ ]:
#Tuples: can not be modified such as the list

# Creating a tuple:
fruits = ('apple', 'banana', 'orange')
print(fruits[0])  # Output: 'apple'
print(fruits[1])  # Output: 'banana'
print(fruits[2])  # Output: 'orange'

apple
banana
orange

In [ ]:
# Accessing elements in a tuple:
fruits = ('apple', 'banana', 'orange', 'grape', 'kiwi')
print(fruits[1:4])  # Output: ('banana', 'orange', 'grape')

('banana', 'orange', 'grape')

In [ ]:
# Looping through a tuple:
fruits = ('apple', 'banana', 'orange')
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
# Checking if an element exists in a tuple:
fruits = ('apple', 'banana', 'orange')
print('banana' in fruits)  # Output: True
print('grape' in fruits)   # Output: False

True
False

In [ ]:
# Concatenating tuples:
fruits = ('apple', 'banana', 'orange')
more_fruits = ('grape', 'kiwi')
all_fruits = fruits + more_fruits
print(all_fruits)

('apple', 'banana', 'orange', 'grape', 'kiwi')

In [ ]:
# Unpacking a tuple into separate variables
coordinates = (10, 20)
x, y = coordinates
print(x)  # Output: 10
print(y)  # Output: 20

10
20

In [ ]:
# Counting occurrences of an element in a tuple:
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)  # Output: 3 (since '2' appears three times in the tuple)

3

**Dictionaries in Python are collections of key-value pairs, where each key is unique and associated with a value. Dictionaries are enclosed in curly braces {}  and are very useful for organizing and retrieving data efficiently.  Here are some examples of dictionaries in Python:**

In [ ]:
# Creating a dictionary of student names and their corresponding ages
student_ages = {
    'John': 20,
    'Alice': 22,
    'Bob': 19,
    'Eve': 21
}
# Accessing values using keys:
# Accessing the age of 'Alice'
alice_age = student_ages['Alice']
print(alice_age)  # Output: 22

# Modifying dictionary values:
# Modifying the age of 'Bob'
student_ages['Bob'] = 20
print(student_ages['Bob'])  # Output: 20

22
20

In [ ]:

# Adding a new student and their age to the dictionary
student_ages['Mike'] = 18
print(student_ages)
# Output: {'John': 20, 'Alice': 22, 'Bob': 20, 'Eve': 21, 'Mike': 18}

# Checking if a key exists in the dictionary:
if 'John' in student_ages:
    print("John's age is", student_ages['John'])
else:
    print("John is not in the dictionary.")

{'John': 20, 'Alice': 22, 'Bob': 20, 'Eve': 21, 'Mike': 18}
John's age is 20

In [ ]:
# Getting the list of keys and values from a dictionary:
# Getting a list of student names and ages separately
names = student_ages.keys()
ages = student_ages.values()

print(names)  # Output: dict_keys(['John', 'Alice', 'Bob', 'Eve', 'Mike'])
print(ages)   # Output: dict_values([20, 22, 20, 21, 18])

dict_keys(['John', 'Alice', 'Bob', 'Eve', 'Mike'])
dict_values([20, 22, 20, 21, 18])

In [ ]:
def greet_user():
  print("     Hi there")
  print("     Welcome aboard")

print("start")
greet_user()
print("Finish")

start
     Hi there
     Welcome aboard
Finish

In [ ]:
def greet(name):
    """
    This function takes a name as input and prints a greeting message.
    """
    print(f"Hello, {name}! How are you?")

greet("John")

Hello, John! How are you?