<a href="https://colab.research.google.com/github/asheta66/Data-Science/blob/main/Python_Tutorial_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello Alaa")

hello Alaa

In [ ]:
my_name="Alaa"
print("Hello " + my_name)

Hello Alaa

In [ ]:
age=55
print(my_name +" is my name and I am " + str(age) +" years old")

Alaa is my name and I am 55years old

In [ ]:
print(f" The cost of service for {20} days is {20*25}")

 The cost of service for 20 days is 500

In [ ]:
unit = "$"
print(f" The cost of service for {20} days is {unit}{20*25}")

 The cost of service for 20 days is $500

In [ ]:
# functions without parameters

calculate_units = 24
name_units = "hours"

def days_to_units():
  print(f" The cost of service for {20} days is {unit}{20*25}")

days_to_units()

 The cost of service for 20 days is $500

In [ ]:
# functions with parameters

calculate_units = 24
name_units = "$"

def days_to_units(days):
  print(f" The cost of service for {days} days is {unit}{days*calculate_units}")

days_to_units(35)
days_to_units(45)
days_to_units(55)
days_to_units(65)

print("All is good")

 The cost of service for 35 days is $840
 The cost of service for 45 days is $1080
 The cost of service for 55 days is $1320
 The cost of service for 65 days is $1560
All is good

In [ ]:
calculate_units = 24
unit = "$"

def days_to_units(days, custom_message):
    print(f"The cost of service for {days} days is {unit}{days * calculate_units}")
    print(custom_message)

days_to_units(35, "Great\n")
days_to_units(45, "Fantastic\n")
print("All is good")

The cost of service for 35 days is $840
Great

The cost of service for 45 days is $1080
Fantastic

All is good

In [ ]:
calculate_units = 24
unit = "$"

def days_to_units(days, custom_message):
    print(f"The cost of service for {days} days is {unit}{days * calculate_units}")
    print(custom_message)

def scope_check(num_of_days):
    my_var = 10
    print(f"{unit}{my_var} per {num_of_days} days")

days_to_units(35, "Great\n")
days_to_units(45, "Fantastic\n")
print("All is good")

scope_check(calculate_units)

The cost of service for 35 days is $840
Great

The cost of service for 45 days is $1080
Fantastic

All is good
$10 per 24 days

In [ ]:
# The use of input function to assign an input value for a variable
unit ="$"
x = input("Enter the cost for car?\n")
print(f"The car price is {unit}{x}")

Enter the cost for car?
200,000
The car price is $200,000

In [ ]:
calculate_units = 24
unit = "$"
days = 30

def days_to_units(days,):
    return f"The cost of service for {days} days is {unit}{days * calculate_units}"

my_var = days_to_units(35)
print(my_var)

The cost of service for 35 days is $840

In [ ]:
# Verify that the user input is a valid number

calculate_units = 24
unit = "$"
days = 30

def days_to_units(days):
  print(days > 0)
  if days > 0:
    return f"The cost of service for {days} days is {unit}{days * calculate_units}"
  else:
    print("The input is a negative number please correct it")

x = int(input('Enter a value:    '))
my_var = days_to_units(x)
print(my_var)

Enter a value:    10
True
The cost of service for 10 days is $240

In [ ]:
# Verify that the user input is a valid number

calculate_units = 24
unit = "$"
days = 30

def days_to_units(days):
  print(days > 0)
  if days > 0:
    return f"The cost of service for {days} days is {unit}{days * calculate_units}"
  else:
    print("The input is a negative number please correct it")

x = int(input('Enter a value:    '))
my_var = days_to_units(x)
print(my_var)

Enter a value:    -10
False
The input is a negative number please correct it
None

In [ ]:
# Test the nature of the input if positive, negative or zero

calculate_units = 24
unit = "$"
days = 30

def days_to_units(days):
    if days > 0:
        return f"The cost of service for {days} days is {unit}{days * calculate_units}"
    elif days == 0:
        return "The input is a 0"
    else:
        return "The input is a negative number. Please correct it."

x = int(input('Enter a value: '))
my_var = days_to_units(x)
print(my_var)

Enter a value: 0
The input is a 0

In [ ]:
calculate_units = 24
unit = "$"
days = 30

def days_to_units(days):
    if days > 0:
        return f"The cost of service for {days} days is {unit}{days * calculate_units}"
    elif days == 0:
        return "The input is 0"
    else:
        return "The input is a negative number. Please correct it."

while True:
    x = input('Enter a value (type "exit" to quit): ')
    if x.lower() == 'exit':
        break
    try:
        x = int(x)
        my_var = days_to_units(x)
        print(my_var +"\n")
    except ValueError:
        print("Invalid input. Please enter a valid number or 'exit' to quit.")

Enter a value (type "exit" to quit): 10
The cost of service for 10 days is $240

Enter a value (type "exit" to quit): 20
The cost of service for 20 days is $480

Enter a value (type "exit" to quit): -10
The input is a negative number. Please correct it.

Enter a value (type "exit" to quit): exit